/VisualStudioMissingProjectFilesDetector/_ReSharper.VisualStudioMissingProjectFilesDetector
/VisualStudioMissingProjectFilesDetector/bin
/VisualStudioMissingProjectFilesDetector/obj

VisualStudioMissingProjectFilesDetector/VisualStudioMissingProjectFilesDetector.csproj.user
/VisualStudioMissingProjectFilesDetector/VisualStudioMissingProjectFilesDetector.v11.suo
/VisualStudioMissingProjectFilesDetector/*.DotSettings
